.App {
  text-align: center;
}

.Banner {
  height: 150px;
  width: 950px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: gray;
}

.Tabs {
  background-color: #222;
  height: 42px;
}

.Crate-header{
  background-color: #222;
  align:left;
  color: white;
}

.Crate-body{
  background-color: #222;
  color: white;
  margin: 0px;
}
