body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.Banner {
  height: 150px;
  width: 950px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: gray;
}

.Search-bar {
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Tabs {
  background-color: #222;
  height: 42px;
}
