.App {
  text-align: center;
}

.Banner {
  height: 150px;
  width: 950px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: gray;
}

.Search-bar {
}

.Tabs {
  background-color: #222;
  height: 42px;
}

.col1 {
  background-color: orange;
}

.col2 {
  background-color: yellow;
}

.col3 {
  background-color: purple;
}

.col4 {
  background-color: green;
}
